@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-SemiBold;
  src: url(../fonts/Kanit-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}   
a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  

header .dropdown:hover>.dropdown-menu {
  display: block;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1640px !important;
  }
}
header nav{ 
  background-color: #F9FBFC;
  height: 90px;
} 
.fixed-top + main{
  margin-top: 90px; 
}
header .navbar-brand img{
  height: 55px;
}
header .navbar-nav > .nav-item{ 
  height: 90px;
  line-height: 70px;
  margin-left: 25px;
  margin-right: 25px;
}
header .navbar-nav .nav-item.active{
  border-bottom: 3px solid #E2863C; 
}
header .navbar-nav .nav-item .nav-link{
  color: #58595A;
  font-family: Kanit-Medium;
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: uppercase;
}
header .navbar-nav .nav-item:hover .nav-link{
  color: #E16D22;
}
header .navbar-nav .nav-item .nav-link.dropdown-toggle::after{
  content: unset !important;
}
header .navbar-nav .nav-item .nav-link.dropdown-toggle:before{
  content: "";
  position: absolute;
  right: 0;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: url(../images/ionic-ios-arrow-dropdown-circle.png);
  background-position: center !important;
  background-size: 14px auto !important;
  background-repeat: no-repeat !important; 
  top: 36px;
  right: -20px;
}
header .navbar-nav .nav-item:hover .nav-link.dropdown-toggle:before{
  transform: rotate(180deg);
}
header .navbar-nav .nav-item.dropdown .dropdown-menu li a{
  height: 60px !important; 
} 
header .navbar-nav .nav-item.dropdown .dropdown-menu li{
  border: 1px solid #E2E2E2;
} 
header .navbar-nav .nav-item.dropdown .dropdown-menu{ 
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  margin-top: -1px;
}
header .navbar-nav .nav-item.dropdown .dropdown-menu a{ 
  color: #58595A;
  font-family: Kanit-Medium;
  font-size: 20px;
  line-height: 50px;
}
header .navbar-nav .nav-item.dropdown .dropdown-menu a:hover{ 
  color: #E16D22; 
}
header .navbar-nav .btn-login{
  font-family: Kanit-Medium;
  font-size: 17px;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  height: 30px;
  color: #fff;
  min-width: 73px;
  line-height: 18px;
  margin-top: 10px;
  text-transform: uppercase;
}
header .navbar-nav .icon-cart{
  position: relative;
}
header .navbar-nav .icon-cart img{
  height: 18px;
  margin-top: 10px;
}
header .navbar-nav .icon-cart p{
  position: absolute;
  top: -2px;
  right: -10px;
  height: 18px;
  width: 18px; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 100%;
  font-family: Kanit-Medium;
  font-size: 12px;
  text-align: center;
  color: #fff;
  line-height: 18px;
}
header .navbar-nav .nav-item.lang .nav-link.dropdown-toggle:before{
  content: "";
  position: absolute;
  right: 0;
  height: 5px;
  width: 12px;
  border-radius: 100%;
  background: url(../images/ionic-ios-arrow-down-mi.png);
  background-position: center !important;
  background-size: 11px 5px !important;
  background-repeat: no-repeat !important; 
  top: 40px;
  right: -20px;
}
header .navbar-nav .nav-item.lang:hover .nav-link.dropdown-toggle:before{
  transform: rotate(180deg);
}
footer .top{ 
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .bot{ 
  background:   url('../images/footer-bot.png') ;
  background-position: top center !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important; 
  height: 126px; 

}
.home-sec1{
  min-height: calc(100vh - 90px);
  background: url(../images/bg-orange.png) ,  url(../images/car-img.png),  #fff   !important;
  background-position: right bottom , left bottom -80px, center !important;
  background-size: auto 100%, auto 664px ,  100% !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;  
}
.search-home{
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.search-home > div{
  width: 397px;
  text-align: center;
}
.search-home h1{
  font-family: Kanit-Medium;
  font-size: 60px;
  margin-bottom: 30px;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #E2863C;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.custom-control-label{
  font-family: Kanit-Regular;
  font-size: 20px; 
  line-height: 24px;
}
.custom-control {
  margin-bottom: 15px;
}
.custom-control {
  margin-bottom: 15px;
}
.bootstrap-select .btn{
  height: 50px;
  border: 1px solid #58595A40;
  border-radius: 5px;
  background-color: #fff;
  width: 397px;
}
.bootstrap-select .btn:hover{
  background-color: #fff;
}
.bootstrap-select .btn .filter-option-inner-inner {
  font-family: Kanit-Regular;
  font-size: 18px; 
  color: #000;
  line-height: 36px;
}
.bootstrap-select .dropdown-item .text{
  font-family: Kanit-Regular;
  font-size: 16px;  
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #E2863C;
} 
.bootstrap-select .dropdown-item:hover { 
  background-color: #E2863C;
}
.search-home .btn-search{ 
  width: 105px;
  height: 50px; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  font-family: Kanit-Regular;
  font-size: 20px;  
  color: #fff
} 
.search-home .link{  
  font-family: Kanit-Regular;
  font-size: 20px;  
  color: #58595A;
  line-height: 45px;
}
#slide1{  
  margin-top: 50px;

}
#slide1 .carousel-inner .carousel-item img{  
  height: 700px; 
} 
#slide1 .carousel-inner .carousel-item img{  
  height: 700px; 
}
.carousel-indicators{ 
  margin-bottom: -60px;
} 
.carousel-indicators li { 
  border-radius: 100%;
  width: 10px;
  height: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}
.carousel-control-next, .carousel-control-prev{
  top: unset !important;
  margin-bottom: -60px;
}
.carousel-control-prev {
  /* left: 20%; */
  opacity: 1;
}
.carousel-control-next {
  /* right: 20%; */
  opacity: 1;
}
.home-service{ 
  background:  url(../images/img-bg-overlay.png);
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  padding-top: 150px;
  padding-bottom: 120px;
  position: relative;
  min-height: 800px;
} 
.home-service:after{ 
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;  
  background:  url(../images/ser-top-bg.png);
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  z-index: 2;
} 
.home-service::before{ 
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;  
  background:  url(../images/ser-bot-bg.png);
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  z-index: 2;
}  
.home-service .main{ 
  position: relative;
  z-index: 3;
} 
.h1-botb{ 
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-family: BebasNeue-Regular;
  position: relative;
  margin-bottom: 90px;
}
.h1-botb:after{ 
  content: "";
  margin-top: 20px;
  position: relative;
  height: 3px;
  width: 60px;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #E16D22;
}
.btn-service{ 
  width: 210px;
  height: 389px; 
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  opacity: 1; 
  transition: .33s all ease-out; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 43px;
  transform: skew(-15deg);
  margin-bottom: 60px;
}
.btn-service:after{ 
  content: "";
  position: absolute; 
  bottom: 0;
  left: 0; 
  height: 13px;
  width: 100%;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.btn-service:hover{ 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.btn-service > div{   
  transform: skew(15deg);
}
.btn-service h4{ 
  color: #fff;
  font-family: Kanit-Regular;
  font-size: 20px;
  text-align: center;
  padding-top: 45px;
}
.btn-service img{  
  height: 100px; 
  position: absolute; 
  left: 25%; 
  display: block; 
  margin-top: -120px;
  transition: .33s all ease-out;  
}
.btn-service:hover img{  
  margin-top: -150px;
}
.home-service .row > div:nth-child(4) img{
  left: 35%;  
}
.home-service .row > div:nth-child(6) img{
  left: 5%;  
}
.btn-master{
  padding: 13px 30px  ;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  font-family: Kanit-Regular;
  font-size: 20px;
  transition: .33s all ease-out; 
}
.btn-master:hover{
  color: #fff;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
}
.home-tips{
  background-color: #fff;
  padding-bottom: 80px;
}
.home-tips .tips-box{
  padding-bottom: 50px;
}
.home-tips .tips-box .img{
  width: auto;
  height: 500px;
  object-fit: cover;
}
.home-tips .tips-box h6{
  margin-top: 30px;
  color: #E16D22;
  font-family: BebasNeue-Regular;
  font-size: 20px;
  font-weight: bold;
}
.home-tips .tips-box h4{
  margin-top: 10px;
  margin-bottom: 25px;
  color: #000000;
  font-family: Kanit-Regular;
  font-size: 30px; 
}
.home-tips .tips-box a{  
  color: #000000;
  font-family: Kanit-Regular;
  font-size: 20px; 
  transition: .33s all ease-out; 
}
.home-tips .tips-box a:hover{  
  color: #E16D22; 
}
.home-tips .tips-box a img{  
  transition: .33s all ease-out; 
}
.home-tips .tips-box a:hover img{  
  margin-left: 8px;
} 
.lSSlideOuter .lSPager.lSpg { 
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  margin-top: -25px !important;
} 
.lSSlideOuter .lSPager.lSpg > li a{ 
  width: 10px !important;
  height: 10px !important;
  background: rgba(0, 0, 0, 0.4) !important;
}
.lSSlideOuter .lSPager.lSpg > li.active a{ 
  background: #E16D22 !important;
}
.home-tips .lSAction {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
} 
.home-tips .lSAction .lSPrev{
  background-repeat: no-repeat !important; 
  left: 40%;
  background: url(../images/asset1.png);
}
.home-tips .lSAction .lSNext{
  background-repeat: no-repeat !important; 
  right: 40%;
  background: url(../images/asset2.png);
}
 
.home-logo{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F9FBFC;
}
.home-logo img{ 
  display: block;
  margin: auto;
  object-fit: cover;
}
footer address{
  font-family: Kanit-Light; 
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-left: 30px;
}
footer address span{
  font-family: Kanit-Medium;  
}
footer address img{
  position: absolute;  
  left: 0;
  top: 5px; 
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  font-family: Kanit-Light;
}
footer ul li a{
  color: #fff;
  font-size: 20px;
  font-family: Kanit-Light;
  transition: .33s all ease-out; 
}
footer ul li:hover a{
  color: rgba(255, 255, 255, 0.5);
}
footer ul li.active a{
  color: rgba(255, 255, 255, 0.5);
}
footer h1{
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Kanit-Regular;
  padding-right: 50px; 
  line-height: 55px;
  position: relative;
}
footer h1:after{
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  width: 1px;
  background-color: #fff;
}
footer h1 span{ 
  font-size: 35px; 
}
footer .social{ 
  font-size: 35px; 
  margin-left: 30px;
  margin-right: 30px;
  transition: .33s all ease-out; 
}
footer .social img{ 
  height: 30px;
  transition: .33s all ease-out; 
} 
footer .social:hover img{ 
  transform: scale(.7);
  opacity: .75;
}
footer h6{
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-family: Kanit-Light; 
}
@media only screen and (max-width: 1024px) { /* MOBILE */ 
  header nav{ 
    background-color: #F9FBFC;
    height: 80px;
    padding: 20px !important;
  } 
  header .navbar-brand img{
    height: 35px;
  }
  header .navbar .navbar-toggler{
    float: right;
    position: absolute;
    right: 20px;
  } 
  header .dropdown-toggle::after{
    content: unset !important;
  }
  header .dropdown-toggle:before{
    content: "";
    position: absolute;
    right: 0;
    height: 5px;
    width: 12px;
    border-radius: 100%;
    background: url(../images/ionic-ios-arrow-down-mi.png);
    background-position: center !important;
    background-size: 11px 5px !important;
    background-repeat: no-repeat !important; 
    top: 22px;
    right: -5px;
  } 
  header .show .dropdown-toggle:before{
    transform: rotate(180deg);
  }
  header button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  header button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  header .lang{
    float: right;
    position: absolute;
    right: 90px;  
  }
  header .lang > a{ 
    font-family: Kanit-Medium; 
    color: #58595A;
    font-size: 20px;
  } 
  .menu-mb{ 
    z-index: 2222 !important;
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/mbg.png) , linear-gradient(to bottom, #58595a, #454647, #343434, #232323, #121212);
    background-repeat: no-repeat , no-repeat !important;
    background-size: 285px auto , 100% !important ;
    background-position: bottom 25px right 25px , center;
    padding: 25px;
  }
  .menu-mb.active{
    display: block; 
    left: 0;
  }
  .menu-mb .navbar-close{
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .menu-mb .lang{
    position: absolute;
    right: 70px;
    top: 20px; 
  } 
  .menu-mb .lang > a{ 
    font-family: Kanit-Medium; 
    color: #fff;
    font-size: 20px;
  } 
  .menu-mb .navbar-nav{
    margin-top: 50px;
  }
  .menu-mb .navbar-nav { 
    text-align: center; 
  }
  .menu-mb .navbar-nav a{
    font-family: Kanit-Medium; 
    color: #fff;
    text-align: center;
    font-size: 22px; 
    text-transform: uppercase;
  }
  .menu-mb .navbar-nav li{
    font-family: Kanit-Medium; 
    color: #fff;
    text-align: center;
    font-size: 22px; 
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .menu-mb .navbar-nav li ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
  }
  .menu-mb .navbar-nav li ul li a{
    font-family: Kanit-Regular;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  .menu-mb .navbar-nav .dropdown ul{
    display: none;
  }
  .menu-mb .navbar-nav .dropdown.active ul{
    display: block;
  } 
  .menu-mb .navbar-nav .dropdown span{
    position: relative;
  }
  .menu-mb .navbar-nav .dropdown span::after{
    content: unset !important;
  }
  .menu-mb .navbar-nav .dropdown span:before{
    content: "";
    position: absolute;
    right: 0;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: url(../images/ionic-ios-arrow-dropdown-circle.png);
    background-position: center !important;
    background-size: 14px auto !important;
    background-repeat: no-repeat !important; 
    top: 10px; 
    right: -30px;
  }
  .menu-mb .navbar-nav .dropdown.active span:before{
    transform: rotate(180deg);
  } 
  .menu-footer{
    z-index: 1000 !important;
    position: fixed;  
    bottom: 0;
    width: 100%;
    height: 80px;
    background:  linear-gradient(to bottom, #58595a, #454647, #343434, #232323, #121212); 
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu-footer > a{
    position: relative;
  }
  .menu-footer > a > img{
    height: 26px;
  }
  .menu-footer p{
    position: absolute;
    top: -8px;
    right: -10px;
    height: 18px;
    width: 18px; 
    background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    font-family: Kanit-Medium;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 18px;
  }
  .home-sec1 {
    min-height: unset !important;
  }
  .home-sec1 .container .row > div.col-xl-7:nth-child(1){
    order: 2; 
    background: url(../images/car-img.png),  #fff   !important;
    background-position:   center bottom  , center !important;
    background-size:   100% auto ,  100% !important;
    background-repeat:  no-repeat , no-repeat !important;    
  }
  .home-sec1 .container .row > div.col-xl-5:nth-child(2){
    order: 1;
    height: 480px;
    background-image: linear-gradient(to bottom, #e2863c, #e07737, #de6834, #db5732, #d74532) !important;
  }
  .home-sec1 .container .row > div:nth-child(2) .carousel{ 
  } 
  #slide1 .carousel-inner .carousel-item img {
    height: 380px;
  }
  #slide1 {
    margin-top: 25px;
  } 
  .search-home{
    padding-top: 30px; 
    height: unset !important;
    padding-bottom: 150px;
  }
  .search-home h1 { 
    font-size: 30px;
    margin-bottom: 8px;
  }
  .custom-control-label { 
    font-size: 18px; 
  }
  .home-service{ 
    background:  url(../images/img-bg-overlay.png);
    background-position:   center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important; 
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    min-height: unset !important;
  }  
  .home-service:after{  
    height: 130px;   
  } 
  .home-service::before{  
    height: 130px;    
    bottom: -70px;
  } 
  .h1-botb{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .h1-botb:after { 
    margin-top: -5px; 
  }
  .btn-service { 
    width: 120px;
    height: 220px; 
    padding-bottom: 30px; 
    margin-bottom: 20px;
  }
  .home-service .row-set{ 
    flex-wrap: nowrap;
    overflow-x: auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }
  .home-service .row-set > div{ 
    width: 170px;
    max-width: unset !important;
  }
  .btn-service img {
    height: 65px; 
  }
  .btn-service h4 { 
    font-size: 14px; 
  }
  .btn-service img { 
    margin-top: -60px; 
  } 
  .btn-service:hover img{  
    margin-top: -75px;
  }
  .home-tips .tips-box .img { 
    height: 350px; 
  }
  .home-tips .tips-box { 
    text-align: center;
  }
  .home-tips .tips-box h6 {
    margin-top: 15px; 
    text-align: center;
  }
  .home-tips .tips-box h4 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
  .home-tips .tips-box a {
    font-size: 20px; 
  }
  .home-tips .lSAction {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
  } 
  .home-tips .lSAction .lSPrev{ 
    left: 5%; 
  }
  .home-tips .lSAction .lSNext{ 
    right: 0%; 
  }
  .btn-master {
    padding: 10px 30px; 
    font-size: 18px; 
  }
  .home-tips { 
    padding-bottom: 40px;
  }
  .home-logo img { 
    max-height: 20px;
    width: 100%;
  }
  .home-logo {
    padding-top: 45px;
    padding-bottom: 45px; 
  } 
  .home-logo  .lSPager {
    display: none !important;
  }
  footer .top {
    background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer address {
    text-align: center;
  } 
  footer address img{
    position: relative;
    top: 0px;
  } 
  footer address { 
    font-size: 18px; 
  }
  footer .top .col-xl-4 ul li{  
    padding-top: 10px;
    padding-bottom: 20px;
  }
  footer .top .col-xl-4 ul.hide li{ 
    display: none; 
  } 
  footer .top .col-xl-4 ul.show { 
    display: block;
  }
  footer .top .col-xl-4 ul.hide li:first-child { 
    display: block !important;
    border-bottom: 1px solid #fff; 
  }
  footer .top .col-xl-4 ul.hide li:first-child { 
    display: block !important;
    border-bottom: 1px solid #fff; 
  }
  footer .top .col-xl-4:first-child ul li:first-child {  
    border-top: 1px solid #fff; 
    padding-top: 20px;
  } 
  footer .top .col-xl-4 ul.hide li:first-child {   
    position: relative;
  } 
  footer .top .col-xl-4 ul.hide li:first-child:before{
    content: "";
    position: absolute; 
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: url(../images/ionic-ios-arrow-dropdown-circle.png);
    background-position: center !important;
    background-size: 14px auto !important;
    background-repeat: no-repeat !important; 
    top: 30px;
    right: 20px;
  }
  footer .bot {
    height: unset !important;
    padding-bottom: 80px; 
    padding-top: 30px;
  }
  footer .bot .d-flex{ 
    display: block !important;
    text-align: center;
  }
}
 
 
 
 
 
 
 
 
 


/* 
  transition: .33s all ease-out; 
  font-family: Kanit-Regular;
  font-family: Kanit-Medium; 
*/
