@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-SemiBold;
  src: url(../fonts/Kanit-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}   
a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  

header .dropdown:hover>.dropdown-menu {
  display: block;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1640px !important;
  }
}
header nav{ 
  background-color: #F9FBFC;
  height: 90px;
} 
.fixed-top + main{
  margin-top: 90px; 
}
header .navbar-brand img{
  height: 55px;
}
header .navbar-nav > .nav-item{ 
  height: 90px;
  line-height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
header .navbar-nav .nav-item.active{
  border-bottom: 3px solid #E2863C; 
}
header .navbar-nav .nav-item .nav-link{
  color: #58595A;
  font-family: Kanit-Medium;
  font-size: 18px;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: uppercase;
}
header .navbar-nav .nav-item:hover .nav-link{
  color: #E16D22;
}
header .navbar-nav .nav-item .nav-link.dropdown-toggle::after{
  content: unset !important;
}
header .navbar-nav .nav-item .nav-link.dropdown-toggle:before{
  content: "";
  position: absolute;
  right: 0;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: url(../images/ionic-ios-arrow-dropdown-circle.png);
  background-position: center !important;
  background-size: 14px auto !important;
  background-repeat: no-repeat !important; 
  top: 36px;
  right: -20px;
}
header .navbar-nav .nav-item:hover .nav-link.dropdown-toggle:before{
  transform: rotate(180deg);
}
header .navbar-nav .nav-item.dropdown .dropdown-menu li a{
  height: 60px !important; 
} 
header .navbar-nav .nav-item.dropdown .dropdown-menu li{
  border: 1px solid #E2E2E2;
} 
header .navbar-nav .nav-item.dropdown .dropdown-menu{ 
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  margin-top: -1px;
}
header .navbar-nav .nav-item.dropdown .dropdown-menu a{ 
  color: #58595A;
  font-family: Kanit-Medium;
  font-size: 18px;
  line-height: 50px;
}
header .navbar-nav .nav-item.dropdown .dropdown-menu a:hover{ 
  color: #E16D22; 
}
header .navbar-nav .btn-login{
  font-family: Kanit-Medium;
  font-size: 17px;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  height: 30px;
  color: #fff;
  min-width: 73px;
  line-height: 18px;
  margin-top: 10px;
  text-transform: uppercase;
}
header .navbar-nav .icon-cart{
  position: relative;
}
header .navbar-nav .icon-cart img{
  height: 18px;
  margin-top: 10px;
}
header .navbar-nav .icon-cart p{
  position: absolute;
  top: -2px;
  right: -10px;
  height: 18px;
  width: 18px; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 100%;
  font-family: Kanit-Medium;
  font-size: 12px;
  text-align: center;
  color: #fff;
  line-height: 18px;
}
header .navbar-nav .nav-item.lang .nav-link.dropdown-toggle:before{
  content: "";
  position: absolute;
  right: 0;
  height: 5px;
  width: 12px;
  border-radius: 100%;
  background: url(../images/ionic-ios-arrow-down-mi.png);
  background-position: center !important;
  background-size: 11px 5px !important;
  background-repeat: no-repeat !important; 
  top: 40px;
  right: -20px;
}
header .navbar-nav .nav-item.lang:hover .nav-link.dropdown-toggle:before{
  transform: rotate(180deg);
}
footer .top{ 
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .bot{ 
  background:   url('../images/footer-bot.png') ;
  background-position: top center !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important; 
  height: 126px; 

}
.home-sec1{
  min-height: calc(100vh - 90px);
  background: url(../images/bg-orange.png) ,  url(../images/car-img.png),  #fff   !important;
  background-position: right bottom , left bottom -80px, center !important;
  background-size: auto 100%, auto 664px ,  100% !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;  
}
.search-home{
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.search-home > div{
  width: 397px;
  text-align: center;
}
.search-home h1{
  font-family: Kanit-Medium;
  font-size: 60px;
  margin-bottom: 30px;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #E2863C;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.custom-control-label{
  font-family: Kanit-Regular;
  font-size: 20px; 
  line-height: 24px;
}
.custom-control {
  margin-bottom: 15px;
}
.custom-control {
  margin-bottom: 15px;
}
.bootstrap-select .btn{
  height: 50px;
  border: 1px solid #58595A40;
  border-radius: 5px;
  background-color: #fff;
  width: 397px;
}
.bootstrap-select .btn:hover{
  background-color: #fff;
}
.bootstrap-select .btn .filter-option-inner-inner {
  font-family: Kanit-Regular;
  font-size: 18px; 
  color: #000;
  line-height: 36px;
}
.bootstrap-select .dropdown-item .text{
  font-family: Kanit-Regular;
  font-size: 16px;  
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #E2863C;
} 
.bootstrap-select .dropdown-item:hover { 
  background-color: #E2863C;
}
.search-home .btn-search{ 
  width: 105px;
  height: 50px; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  font-family: Kanit-Regular;
  font-size: 20px;  
  color: #fff
} 
.search-home .link{  
  font-family: Kanit-Regular;
  font-size: 20px;  
  color: #58595A;
  line-height: 45px;
}
#slide1{  
  margin-top: 50px;

}
#slide1 .carousel-inner .carousel-item img{  
  height: 700px; 
} 
#slide1 .carousel-inner .carousel-item img{  
  height: 700px; 
}
.carousel-indicators{ 
  margin-bottom: -60px;
} 
.carousel-indicators li { 
  border-radius: 100%;
  width: 10px;
  height: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}
.carousel-control-next, .carousel-control-prev{
  top: unset !important;
  margin-bottom: -60px;
}
.carousel-control-prev {
  /* left: 20%; */
  opacity: 1;
}
.carousel-control-next {
  /* right: 20%; */
  opacity: 1;
}
.home-service{ 
  background:  url(../images/img-bg-overlay.png);
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  padding-top: 150px;
  padding-bottom: 120px;
  position: relative;
  min-height: 800px;
} 
.home-service:after{ 
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;  
  background:  url(../images/ser-top-bg.png);
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  z-index: 2;
} 
.home-service::before{ 
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;  
  background:  url(../images/ser-bot-bg.png);
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  z-index: 2;
}  
.home-service .main{ 
  position: relative;
  z-index: 3;
} 
.h1-botb{ 
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-family: BebasNeue-Regular;
  position: relative;
  margin-bottom: 90px;
}
.h1-botb:after{ 
  content: "";
  margin-top: 20px;
  position: relative;
  height: 3px;
  width: 60px;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #E16D22;
}
.btn-service{ 
  width: 210px;
  height: 389px; 
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  opacity: 1; 
  transition: .33s all ease-out; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 43px;
  transform: skew(-15deg);
  margin-bottom: 60px;
}
.btn-service:after{ 
  content: "";
  position: absolute; 
  bottom: 0;
  left: 0; 
  height: 13px;
  width: 100%;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.btn-service:hover{ 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.btn-service > div{   
  transform: skew(15deg);
}
.btn-service h4{ 
  color: #fff;
  font-family: Kanit-Regular;
  font-size: 20px;
  text-align: center;
  padding-top: 45px;
}
.btn-service img{  
  height: 100px; 
  position: absolute; 
  left: 25%; 
  display: block; 
  margin-top: -120px;
  transition: .33s all ease-out;  
}
.btn-service:hover img{  
  margin-top: -150px;
}
.home-service .row > div:nth-child(4) img{
  left: 35%;  
}
.home-service .row > div:nth-child(6) img{
  left: 5%;  
}
.btn-master{
  padding: 13px 30px  ;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  font-family: Kanit-Regular;
  font-size: 20px;
  transition: .33s all ease-out; 
}
.btn-master:hover{
  color: #fff;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
}
.btn-master-xs{
  padding: 10px 30px  ;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  font-family: Kanit-Regular;
  font-size: 20px;
  transition: .33s all ease-out; 
}
.btn-master-xs:hover{
  color: #fff;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
}
.home-tips{
  background-color: #fff;
  padding-bottom: 80px;
}
.home-tips .tips-box{
  padding-bottom: 50px;
}
.home-tips .tips-box .img{
  width: auto;
  height: 500px;
  object-fit: cover;
}
.home-tips .tips-box h6{
  margin-top: 30px;
  color: #E16D22;
  font-family: BebasNeue-Regular;
  font-size: 20px;
  font-weight: bold;
}
.home-tips .tips-box h4{
  margin-top: 10px;
  margin-bottom: 25px;
  color: #000000;
  font-family: Kanit-Regular;
  font-size: 30px; 
}
.home-tips .tips-box a{  
  color: #000000;
  font-family: Kanit-Regular;
  font-size: 20px; 
  transition: .33s all ease-out; 
}
.home-tips .tips-box a:hover{  
  color: #E16D22; 
}
.home-tips .tips-box a img{  
  transition: .33s all ease-out; 
}
.home-tips .tips-box a:hover img{  
  margin-left: 8px;
} 
.lSSlideOuter .lSPager.lSpg { 
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  margin-top: -25px !important;
} 
.lSSlideOuter .lSPager.lSpg > li a{ 
  width: 10px !important;
  height: 10px !important;
  background: rgba(0, 0, 0, 0.4) !important;
}
.lSSlideOuter .lSPager.lSpg > li.active a{ 
  background: #E16D22 !important;
}
.home-tips .lSAction {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
} 
.home-tips .lSAction .lSPrev{
  background-repeat: no-repeat !important; 
  left: 40%;
  background: url(../images/asset1.png);
}
.home-tips .lSAction .lSNext{
  background-repeat: no-repeat !important; 
  right: 40%;
  background: url(../images/asset2.png);
}
 
.home-logo{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F9FBFC;
}
.home-logo img{ 
  display: block;
  margin: auto;
  object-fit: cover;
}
footer address{
  font-family: Kanit-Light; 
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-left: 30px;
}
footer address span{
  font-family: Kanit-Medium;  
}
footer address img{
  position: absolute;  
  left: 0;
  top: 5px; 
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  font-family: Kanit-Light;
}
footer ul li a{
  color: #fff;
  font-size: 20px;
  font-family: Kanit-Light;
  transition: .33s all ease-out; 
}
footer ul li:hover a{
  color: rgba(255, 255, 255, 0.5);
}
footer ul li.active a{
  color: rgba(255, 255, 255, 0.5);
}
footer h1{
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Kanit-Regular;
  padding-right: 50px; 
  line-height: 55px;
  position: relative;
}
footer h1:after{
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  width: 1px;
  background-color: #fff;
}
footer h1 span{ 
  font-size: 35px; 
}
footer .social{ 
  font-size: 35px; 
  margin-left: 30px;
  margin-right: 30px;
  transition: .33s all ease-out; 
}
footer .social img{ 
  height: 30px;
  transition: .33s all ease-out; 
} 
footer .social:hover img{ 
  transform: scale(.7);
  opacity: .75;
}
footer h6{
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-family: Kanit-Light; 
}
.banner-promotion-cover{
  height: 300px;
  background: url(../images/promotion-bn.png);
  background-position: center !important;
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
}
.banner-tips-cover{
  height: 300px;
  background: url(../images/top-cover.png);
  background-position: center !important;
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
}
.banner-cover > div{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
} 
.banner-cover h1{
  color: #fff;
  margin-bottom: 20px;
}
.banner-cover h6{
  font-family: Kanit-Regular;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
}
.promotion-page{
  padding-top: 100px;
  padding-bottom: 100px;
}
.promotion-page .promotion{
  margin-bottom: 50px;
} 
.promotion-page .promotion > img{
  object-fit: cover;
  height: 500px; 
  margin-bottom: 30px !important;
} 
.promotion-page .promotion h6{
  font-family: BebasNeue-Regular;
  font-size: 20px;
  color: #E16D22;
  margin-bottom: 10px;
}  
.promotion-page .promotion h4{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 30px;
  font-family: Kanit-Regular;
  color: #000000;
  margin-bottom: 25px;
} 
.promotion-page .promotion h5{
  font-family: Kanit-Regular;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}  
.promotion-modal .modal-dialog{
  max-width: 1290px;
} 
.promotion-modal .modal-content{ 
  border-radius: 30px; 
  border: none !important;
}
.promotion-modal .modal-header{  
  font-family: Kanit-Regular;
  color: #fff;
  font-size: 30px;
  border-radius: 30px 30px 0 0; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  height: 70px;
}
.promotion-modal .modal-body{
  padding: 70px;
}
.promotion-modal h6{
  font-family: BebasNeue-Regular;
  font-size: 20px;
  color: #E16D22;
  margin-bottom: 10px;
}  
.promotion-modal h4{ 
  font-size: 30px;
  font-family: Kanit-Regular;
  color: #000000;
  margin-bottom: 25px;
} 
.promotion-modal p{
  font-family: Kanit-Regular;
  font-size: 20px;
  color: #000; 
}   
.login-modal .modal-dialog{
  max-width: 1088px;
} 
.login-modal .modal-content{ 
  border-radius: 30px; 
  border: none !important;
}
.login-modal .modal-content{ 
  border-radius: 30px; 
  border: none !important;
}
.login-modal .modal-body{ 
  padding: 50px;
}
.login-modal .modal-body h3{ 
  color: #000;
  font-size: 30px;
  font-family: Kanit-Regular;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid #E16D22;
}
.login-modal .modal-body .btn-social{ 
  height: 50px;
  width: 100%;
  padding: 8px 20px 11px;
  border: 1px solid #58595A40;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
  color: #000;
  font-size: 20px;
  font-family: Kanit-Regular;
}
.login-modal .modal-body .btn-social img{ 
  height: 25px;
  margin-right: 8px;
}
.login-modal .modal-body .orx{
  height: 100%;
  width: 100%;
  position: relative;
}
.login-modal .modal-body .orx::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 50%;
  background-color: #E2E2E2;
  z-index: 1;
}
.login-modal .modal-body .orx p{
  color: #000;
  font-size: 14px;
  font-family: Kanit-Regular; 
  position: absolute;
  top: 30%;
  padding: 14px;
  background-color: #fff; 
  z-index: 2;
}
.login-modal .modal-body .form-group input{
  height: 50px; 
  padding: 8px 20px 11px;
  border: 1px solid #58595A40;
  border-radius: 5px;
  color: #000;
  font-size: 20px;
  font-family: Kanit-Regular; 
}
.login-modal .modal-body form a{  
  color: #000;
  font-size: 20px;
  font-family: Kanit-Regular; 
}
.login-modal .modal-body form .btn-submit{  
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  height: 50px; 
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: Kanit-Regular; 
  width: 100%;
  margin-top: 25px;
  display: block;
  margin-bottom: 25px;
}
.login-modal .modal-body form span{  
  color: #000;
  font-size: 20px;
  font-family: Kanit-Regular; 
}
.login-modal .modal-body form a.active{   
  color: #E16D22; 
}
.alert-modal .modal-dialog{
  max-width: 812px;
} 
.alert-modal .modal-body{
  padding: 70px;
}
.alert-modal .modal-body h3{ 
  font-family: Kanit-Regular;
  font-size: 30px;
  color: #000;
  margin-top: 30px;
  line-height: 50px;
  margin-bottom: 30px;
}
.banner-account{
  height: 186px;
  background: url(../images/acc-title.png);
  background-position: center !important;
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
} 
.banner-account > div{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
} 
.banner-account .h1-botb {  
  color: #fff;
  margin-bottom: 20px;
}
.banner-account .h1-botb:after { 
  margin-top: 10px; 
  background-color: #fff;
} 
.banner-account h6{ 
  color: #fff;
  text-align: center;
  font-family: Kanit-Regular;
  font-size: 16px;
}
.account{
  padding-top: 100px;
  padding-bottom: 100px;
} 
.account h4{
  font-family: Kanit-Regular;
  font-size: 30px;
  color: #000;
  padding-bottom: 15px;
}
.account ul {
  list-style: none;
  padding-left: 0px;
}
.account ul li{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.account ul li a{ 
  padding-left: 40px;
  color: #58595A;
  font-family: Kanit-Medium; 
  font-size: 20px;
  transition: .33s all ease-out; 
}
.account ul li a img{
  position: absolute;
  width: 20px; 
  left: 0;
  top: 8px;
} 
.account ul li:hover a{ 
  color: #E16D22;
}
.account ul li.active a{ 
  color: #E16D22;
}
.account .bor{
  border-right: 1px solid #E2E2E2;
}
.account h4.hr{
  font-family: Kanit-Regular;
  font-size: 30px;
  color: #000;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 5px solid #E16D22;
}
.form-right{
  padding-left: 100px;
}
.form-right input{
  height: 50px; 
  padding: 8px 20px 11px;
  border: 1px solid #58595A40;
  border-radius: 5px;
  color: #000;
  font-size: 20px;
  font-family: Kanit-Regular; 
  margin-bottom: 15px;
}
.col-mb{ 
  padding-left: 0px !important;
}
.account table tr th{
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box; 
  font-family: Kanit-Regular;
  color: #fff;
  font-size: 20px;
}
.account table tr td{
  border-bottom: 1px solid #E2E2E2;
  font-family: Kanit-Light;
  font-size: 20px;
  color: #000;
}
.account table tr td a{ 
  color: #E16D22;
}
.account table tr td:first-child{  
  padding-left: 30px;
} 
.account table tr td:last-child{ 
  text-align: right;
  padding-right: 30px;
}
.forget-password-main > div { 
  height: 100%;
  justify-content: center; 
  display: flex; 
  padding-top: 100px;
  padding-bottom: 100px; 
}
.forget-password-main > div > div { 
  width: 397px;
}
.forget-password-main form{ 
  width: 100%;
}
.forget-password-main form input{
  height: 50px; 
  padding: 8px 20px 11px;
  border: 1px solid #58595A40;
  border-radius: 5px;
  color: #000;
  font-size: 20px;
  font-family: Kanit-Regular; 
  margin-bottom: 15px;
}
.forget-password-main h3{ 
  color: #000;
  font-size: 30px;
  font-family: Kanit-Regular; 
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid #E16D22;
}
.banner-service-cover{
  height: 300px;
  background: url(../images/service-bg.png);
  background-position: center !important;
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
}
.service-icon{
  padding-top: 80px;
  padding-bottom: 80px;
}
.service-icon .icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 160px; 
}
.service-icon .icon p{ 
  font-family: Kanit-Regular; 
  margin-bottom: 16px;
  color: #000;
  text-align: center;
  transition: .33s all ease-out; 
}
.service-icon .icon img{
  position: absolute;
  top: 0;
  display: block;
  margin: auto;
  transition: .33s all ease-out; 
  height: 110px;
}
.service-icon .icon:hover img{
  top: -10px;
}
.service-data{
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding-top: 90px;
  padding-bottom: 90px;
}
.service-data .img{
  position: relative;
} 
.service-data .img img{
  height: 538px;
  object-fit: cover; 
}
.service-data .img:after{
  content: "";
  position: absolute; 
  width: 122px;
  height: 122px;
  background-color: rgba(255, 255, 255, .8);
}
.service-data .img.right:after{ 
  right: 15px;
  bottom: 0; 
}
.service-data .img.left:after{ 
  left: 15px;
  top: 0; 
}
.service-text{
  position: relative; 
}
.service-text.right{ 
  padding-left: 244px;
} 
.service-text .icon-img{
  height: 122px;
  width: 122px;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
}
.service-text .icon-img img{ 
  object-fit: cover; 
  display: flex;
  height: 78px;
}
.service-text.right .icon-img{ 
  left: -15px;
  bottom: 122px;
}
.service-text.left .icon-img{ 
  right: -15px;  
  top: 122px;
}
.service-text h3{
  font-size: 50px;
  color: #000;
  font-family: Kanit-Regular;
  margin-bottom: 20px;
}
.service-text h4{
  font-size: 30px;
  color: #E16D22;
  font-family: Kanit-Regular;
  margin-bottom: 5px;
}
.service-text ul{
  padding-left: 20px; 
}
.service-text ul li{ 
  font-size: 20px;
  color: #000;
  font-family: Kanit-Regular; 
}
.service-text p{ 
  font-size: 20px;
  color: #000;
  font-family: Kanit-Regular; 
} 
.banner-contact-cover{
  height: 300px;
  background: url(../images/contact-bg.png);
  background-position: center !important;
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
}
.contact-text .contact-img{
  height: 320px;
  object-fit: cover;
} 
.contact-text h3{ 
  font-family: Kanit-Regular; 
  font-size: 30px;
  color: #E16D22;
  margin-top: 30px;
  margin-bottom: 10px;
}
.contact-text p{ 
  font-family: Kanit-Regular; 
  font-size: 16px;
  color: #000; 
  margin-bottom: 5px;
  padding-left: 26px;
  position: relative;
}
.contact-text p span{ 
  color: #E16D22;
}
.contact-text p img{ 
  position: absolute;
  height: 16px;
  left: 0;
  top: 5px;
}
.btn-click{
  height: 50px;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 35px;
  font-family: Kanit-Regular; 
  font-size: 16px;
  color: #fff; 
  border-radius: 5px; 
  transition: .33s all ease-out; 
}
.btn-click:hover{ 
  color: #fff;  
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
}
.contact-text hr{
  border-top: 1px solid #E2E2E2;
  margin-top: 30px;
  margin-bottom: 30px;
} 
.contact-text h4{ 
  font-family: Kanit-Regular; 
  font-size: 20px;
  color: #000; 
  margin-bottom: 10px;
}
.contact-text h5{ 
  position: relative;
  font-family: Kanit-Regular; 
  font-size: 16px;
  padding-left: 61px;
  color: #000; 
  margin-bottom: 10px;
}
.contact-text h5 img{ 
  position: absolute;
  left: 0;
  height: 43px;
  object-fit: cover;
  border-radius: 100%;
} 
.contact-text h5 span{ 
  color: #E16D22;
} 
.follow-us{
  border-top: 1px solid #E2E2E2;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 40px;
}
.follow-us h4{
  position: relative;
  font-family: Kanit-Regular; 
  font-size: 30px;
  text-align: center;
}
.follow-us .icon{
  border-radius: 100%;
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  margin-left: 30px;
  margin-right: 30px;
  width: 67px;
  height: 67px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .33s all ease-out; 
}
.follow-us .icon img{
  height: 34px;
  transition: .33s all ease-out; 
}
.follow-us .icon:hover img{
  height: 21px;
}
.modal-map .modal-dialog{
  max-width: 1024px;
  border-radius: 0px !important;
}
.modal-map .modal-content{
  border-radius: 0px !important;
}
.banner-about-us-cover{
  height: 300px;
  background: url(../images/aboutus-bg.png);
  background-position: center !important;
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
}
.about-us-page{
  margin-top: -2px;
  background: url(../images/bg-orange2.png);
  background-position: top right !important;
  background-size: auto 900px  !important;
  background-repeat: no-repeat !important;
  padding-top: 170px;
  padding-bottom: 100px;
}
.about-us-page h2{
  font-family: Kanit-SemiBold;
  font-size: 50px;
  color: #000000;
  margin-bottom: 24px;
}
.about-us-page p{
  font-family: Kanit-Regular;
  font-size: 20px;
  color: #000000; 
}
.about-us-text{
  min-height: 850px;
  padding-bottom: 100px;
  background: url(../images/about-bg-user.png);
  background-position: top left !important;
  background-size: 800px auto  !important;
  background-repeat: no-repeat !important;
  margin-top: -60px;
} 
.about-us-text h2{
  font-family: Kanit-SemiBold;
  font-size: 50px;
  color: #000000;
  margin-bottom: 24px;
}
.about-us-text p{
  font-family: Kanit-Regular;
  font-size: 20px;
  color: #000000; 
}
.about-us-text .flexx{
  min-height: 850px;
  display: flex;
  align-items: center;
  height: 100%;
}
.banner-tire-cover{
  height: 300px;
  background: url(../images/trie-bg.png);
  background-position: center !important;
  background-size: 100% 300px  !important;
  background-repeat: no-repeat !important;
}
.product-main{
  padding-top: 45px;
  padding-bottom: 100px;
}
.product-main .filter{
  width: 320px; 
}
.product-main .filter h3{
  font-family: Kanit-Regular;
  font-size: 30px;
  color: #000000; 
  margin-bottom: 20px;
} 
.product-main .filter h3{
  font-family: Kanit-Regular;
  font-size: 30px;
  color: #000000; 
  margin-bottom: 20px;
}
.product-main .selectpicker + .btn-light { 
  border: 1px solid rgba(88, 89, 90, .25);
  height: 50px;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(88, 89, 90, .25);
}
.product-main  .dropdown-toggle::after { 
  content: ""; 
  width: 14px;
  height: 14px; 
  border: none;
  margin-top: 10px;
  background: url(../images/ionic-ios-arrow-dropdown-circle.png) !important;
  background-size: 14px 14px !important;
  background-position:  center center !important;
}
.product-main .show .dropdown-toggle::after { 
  transform: rotate(180deg);
}
.search-control{
  margin-top: 20px;
  position: relative;
}
.search-control .form-control{
  position: absolute;
  border: 1px solid rgba(88, 89, 90, .25);
  border-radius: 5px;
  height: 50px;
  font-family: Kanit-Light;
  font-size: 20px;
  color: #000000; 
} 
.search-control button{
  position: absolute;
  top: 11px;
  right: 13px; 
  border: none;
  background-color: transparent;
} 
.search-control img{ 
  width: 24px;
  height: 24px;
}
.filter-box{
  display: none;
} 
.filter-box.active{
  display: block;
}
.product-main .filter h4{
  font-family: Kanit-Regular;
  font-size: 20px;
  color: #000000; 
  margin-bottom: 10px;
  margin-top: 20px;
}
.product-main .filter h6{
  font-family: Kanit-Medium; 
  font-size: 16px;
  color: #000000; 
  margin-top: 10px;
  margin-bottom: 7px;
}
.product-main .filter label{
  font-family: Kanit-Regular;
  font-size: 14px;
  color: #000000;  
  margin-bottom: 5px;
}
.filter form .col-4{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.filter form .col-4:nth-child(3n+1){
  padding-left: 15px;  
}
.filter form .col-4:nth-child(3n+3){
  padding-right: 15px;  
}
.product-main .filter hr{
  border-top: 1px solid #E2E2E2;
  margin-top: 30px;
  margin-bottom: 30px;
} 
.product-main .filter .custom-checkbox .custom-control-label::before {
  border-radius: 0px;
}
.product-main .filter .custom-control-label{
  font-size: 16px;
  font-family: Kanit-Light;
} 
.brand-car{
  cursor: pointer !important;
  position: relative;
}
.brand-car:after{
  content: ""; 
  position: absolute;
  width: 14px;
  height: 8px;
  right: 0;
  top: 8px;
  background: url(../images/Icon-ionic-ios-arrow-down.png) !important;
  background-size: 14px 8px !important; 
  transform: rotate(180deg);
}
.brand-car.active:after{ 
  transform: rotate(0deg);
}
.brand-car + .brand-tire{ 
  display: none;
}
.brand-car.active + .brand-tire{ 
  display: block;
} 
.tire-car{
  cursor: pointer !important;
  position: relative;
}
.tire-car:after{
  content: ""; 
  position: absolute;
  width: 14px;
  height: 8px;
  right: 0;
  top: 8px;
  background: url(../images/Icon-ionic-ios-arrow-down.png) !important;
  background-size: 14px 8px !important; 
  transform: rotate(180deg);
}
.tire-car.active:after{ 
  transform: rotate(0deg);
}
.tire-car + .tire-tire{ 
  display: none;
}
.tire-car.active + .tire-tire{ 
  display: block;
} 
.product-main .product .custom-control-label::before {
  border-radius: 0px;
} 
.product-main .product .custom-control-label {
  font-size: 20px;
  font-family: Kanit-Regular;
}
.product-main .product h6{
  font-size: 20px;
  font-family: Kanit-Regular;
}
.product-main .product hr{
  border-top: 1px solid #E2E2E2;
  margin-top: 30px;
  margin-bottom: 0px;
} 
.product-box{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #E2E2E2;
  overflow: hidden;
  position: relative;
} 
.product-box .promotion {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 86px 86px 0 0;
  position: absolute;
  top: 0;
  left: 15px;
  border-color: #e16f22 transparent transparent transparent;
}  
.product-box .promotion div{ 
  border-color: #e16f22 transparent transparent transparent;
  font-family: Kanit-Medium; 
  font-size: 13px;
  color: #fff;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  margin-top: -65px;
  transform: rotate(-45deg);
}   
.product-box .photo{
  height: 316px;
  object-fit: cover;
}
.product-box .brand{
  height: 31px;
  object-fit: cover;
  margin-bottom: 20px;
}
.product-box h4{
  margin-bottom: 10px;
  font-family: Kanit-Medium; 
  font-size: 20px;
}
.product-box h5{
  margin-bottom: 10px;
  font-family: Kanit-Medium; 
  font-size: 16px;
  color: #000000;  
  margin-bottom: 20px;
}
.product-box h5 span{
  font-family: Kanit-Regular;
}
.product-box .option{
  display: flex;
  justify-content: start;
}
.product-box .option{
  display: flex;
  justify-content: start;
}
.product-box .option img{
  height: 35px;
  margin-bottom: 5px;
}
.product-box .option h6{
  font-family: Kanit-Light;
  font-size: 12px;
}
.product-box .option div{
  margin-right: 15px;
  text-align: center;
}
.product-box .price{
  border-left: 1px solid #E2E2E2; 
}
.product-box .price h6{ 
  font-family: Kanit-Light;
  font-size: 16px;
}
.product-box .price h6 span{  
  text-decoration: line-through;
} 
.product-box .price h5{ 
  font-family: Kanit-Light;
  font-size: 16px;
}
.product-box .price h5 span{  
  font-family: Kanit-Regular;
  font-size: 30px;
  color: #E30000;
} 
.product-box .price .custom-control-label {
  font-family: Kanit-Light;
  font-size: 16px;
  margin-top: 15px;
}
.product-box .price .quantity{
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #58595A40;
  border-radius: 5px;
  width: calc(100% - 75px);
  position: relative;
  font-family: Kanit-Regular;
  font-size: 30px;
}
.product-box .price .quantity button{ 
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: #fff;
  position: absolute;
}
.product-box .price .quantity .sub{
  left: 30px;
}
.product-box .price .quantity .add{
  right: 30px;
}
.product-box .price .quantity input{ 
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  text-align: center;
}
.product-box .price .quantity input::-webkit-outer-spin-button,
.product-box .price .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-box .price .btn.btn-cart{
  position: absolute;
  right: -75px;
  top: -2px;
  width: 65px;
  height: 50px; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.row .btn-bg{
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 50%;
  height: 50px;
  color: #fff;
  float: left;
  margin-top: 10px;
  font-family: Kanit-Regular;
  font-size: 20px;
  transition: .33s all ease-out; 
} 
.row .btn-bg:hover{
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
} 
.btn-filter{
  text-align: left;
  border-radius: 0px;
  font-family: Kanit-Regular;
  font-size: 20px;
  color: #fff;
  border: none;
  box-shadow: none;
  height: 60px;
  padding-left: 36px;
  padding-right: 36px;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 20px;
} 
.btn-filter img{
  float: right;
  margin-top: 5px;
} 
.product-box .pro-img{
  height: 316px;
  object-fit: cover;
}
.product-des{
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.product-des .photo img{
  height: 500px;
  object-fit: cover;
}
.product-des .brand{
  height: 30px;
  object-fit: cover;
  margin-bottom: 20px;
}
.product-des h4{
  font-family: Kanit-Regular;
  margin-top: 20px;
  color: #000;
  font-size: 30px;
}
.product-des h6{
  font-family: Kanit-Light; 
  color: #000;
  font-size: 16px;
  margin-bottom: 10px;
}
.product-des h5{
  font-family: Kanit-Regular; 
  color: #E16D22;
  font-size: 30px;
  margin-bottom: 10px;
}
.product-des h5 span{
  font-family: Kanit-Light; 
  font-size: 16px;
  color: #000; 
  text-decoration: line-through;
}
.product-des .option{
  display: flex;
  justify-content: start;
}
.product-des .option{
  display: flex;
  justify-content: start;
}
.product-des .option img{
  height: 35px;
  margin-bottom: 5px;
}
.product-des .option h6{
  font-family: Kanit-Light;
  font-size: 12px;
}
.product-des .option div{
  margin-right: 15px;
  text-align: center;
} 
.product-des .quantity{
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #58595A40;
  border-radius: 5px;
  width: calc(100% - 75px);
  position: relative;
  font-family: Kanit-Regular;
  font-size: 30px;
}
.product-des .quantity button{ 
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: #fff;
  position: absolute;
}
.product-des .quantity .sub{
  left: 30px;
}
.product-des .quantity .add{
  right: 30px;
}
.product-des .quantity input{ 
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  text-align: center;
}
.product-des .quantity input::-webkit-outer-spin-button,
.product-des .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-des .btn.btn-cart{
  position: absolute;
  right: -75px;
  top: -2px;
  width: 65px;
  height: 50px; 
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
} 
.product-des .custom-checkbox .custom-control-label::before {
  border-radius: 0px;
}
.product-des .table thead tr th{ 
  font-family: Kanit-Medium; 
  font-size: 20px;
  color: #fff;
  background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
}
.product-des .table tbody tr td{ 
  font-family: Kanit-Regular;
  font-size: 16px;
  color: #000; 
  border: 1px solid #E2E2E2;
}
.product-des .table tbody tr:nth-child(odd) td{ 
  background-color: #EDEDED; 
}
.product-des .table tbody tr:nth-child(even) td{ 
  background-color: #fff; 
}
.product-des .table tbody tr td:nth-child(odd) {  
  border-right: 0px;
}
.product-des .table tbody tr td:nth-child(even){  
  border-left: 0px;
  text-align: right;
}
.product-des .promotion {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 86px 86px 0 0;
  position: absolute;
  top: 0;
  left: 15px;
  border-color: #e16f22 transparent transparent transparent;
}  
.product-des .promotion div{ 
  border-color: #e16f22 transparent transparent transparent;
  font-family: Kanit-Medium; 
  font-size: 13px;
  color: #fff;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  margin-top: -65px;
  transform: rotate(-45deg);
}  
.product-table h4{
  font-family: Kanit-Medium; 
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
}
.product-table .table thead tr th{
  background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
  font-family: Kanit-Medium; 
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.product-table .table tbody tr td{
  border: 1px solid #E2E2E2;
  font-family: Kanit-Regular; 
  font-size: 16px;
  color: #000000;
  text-align: center; 
}




/* 
  transition: .33s all ease-out; 
  #E16D22
  font-family: Kanit-Regular;
  font-family: Kanit-Medium; 
  font-family: BebasNeue-Regular;
  

  IPAD
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888
*/

@media only screen and (max-width: 1024px) { /* MOBILE */ 
  header nav{ 
    background-color: #F9FBFC;
    height: 80px;
    padding: 20px !important;
  } 
  header .navbar-brand img{
    height: 35px;
  }
  header .navbar .navbar-toggler{
    float: right;
    position: absolute;
    right: 20px;
  } 
  header .dropdown-toggle::after{
    content: unset !important;
  }
  header .dropdown-toggle:before{
    content: "";
    position: absolute;
    right: 0;
    height: 5px;
    width: 12px;
    border-radius: 100%;
    background: url(../images/ionic-ios-arrow-down-mi.png);
    background-position: center !important;
    background-size: 11px 5px !important;
    background-repeat: no-repeat !important; 
    top: 22px;
    right: -5px;
  } 
  header .show .dropdown-toggle:before{
    transform: rotate(180deg);
  }
  header button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  header button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  header .lang{
    float: right;
    position: absolute;
    right: 90px;  
  }
  header .lang > a{ 
    font-family: Kanit-Medium; 
    color: #58595A;
    font-size: 20px;
  } 
  .menu-mb{ 
    z-index: 2222 !important;
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/mbg.png) , linear-gradient(to bottom, #58595a, #454647, #343434, #232323, #121212);
    background-repeat: no-repeat , no-repeat !important;
    background-size: 285px auto , 100% !important ;
    background-position: bottom 25px right 25px , center;
    padding: 25px;
  }
  .menu-mb.active{
    display: block; 
    left: 0;
  }
  .menu-mb .navbar-close{
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .menu-mb .lang{
    position: absolute;
    right: 70px;
    top: 20px; 
  } 
  .menu-mb .lang > a{ 
    font-family: Kanit-Medium; 
    color: #fff;
    font-size: 20px;
  } 
  .menu-mb .navbar-nav{
    margin-top: 50px;
  }
  .menu-mb .navbar-nav { 
    text-align: center; 
  }
  .menu-mb .navbar-nav a{
    font-family: Kanit-Medium; 
    color: #fff;
    text-align: center;
    font-size: 22px; 
    text-transform: uppercase;
  }
  .menu-mb .navbar-nav li{
    font-family: Kanit-Medium; 
    color: #fff;
    text-align: center;
    font-size: 22px; 
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .menu-mb .navbar-nav li ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
  }
  .menu-mb .navbar-nav li ul li a{
    font-family: Kanit-Regular;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  .menu-mb .navbar-nav .dropdown ul{
    display: none;
  }
  .menu-mb .navbar-nav .dropdown.active ul{
    display: block;
  } 
  .menu-mb .navbar-nav .dropdown span{
    position: relative;
  }
  .menu-mb .navbar-nav .dropdown span::after{
    content: unset !important;
  }
  .menu-mb .navbar-nav .dropdown span:before{
    content: "";
    position: absolute;
    right: 0;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: url(../images/ionic-ios-arrow-dropdown-circle.png);
    background-position: center !important;
    background-size: 14px auto !important;
    background-repeat: no-repeat !important; 
    top: 10px; 
    right: -30px;
  }
  .menu-mb .navbar-nav .dropdown.active span:before{
    transform: rotate(180deg);
  } 
  .menu-footer{
    z-index: 1000 !important;
    position: fixed;  
    bottom: 0;
    width: 100%;
    height: 80px;
    background:  linear-gradient(to bottom, #58595a, #454647, #343434, #232323, #121212); 
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu-footer > a{
    position: relative;
  }
  .menu-footer > a > img{
    height: 26px;
  }
  .menu-footer p{
    position: absolute;
    top: -8px;
    right: -10px;
    height: 18px;
    width: 18px; 
    background: transparent linear-gradient(180deg, #E2863C 0%, #D74532 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    font-family: Kanit-Medium;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 18px;
  }
  .home-sec1 {
    min-height: unset !important;
  }
  .home-sec1 .container .row > div.col-xl-7:nth-child(1){
    order: 2; 
    background: url(../images/car-img.png),  #fff   !important;
    background-position:   center bottom  , center !important;
    background-size:   100% auto ,  100% !important;
    background-repeat:  no-repeat , no-repeat !important;    
  }
  .home-sec1 .container .row > div.col-xl-5:nth-child(2){
    order: 1;
    height: 480px;
    background-image: linear-gradient(to bottom, #e2863c, #e07737, #de6834, #db5732, #d74532) !important;
  }
  .home-sec1 .container .row > div:nth-child(2) .carousel{ 
  } 
  #slide1 .carousel-inner .carousel-item img {
    height: 380px;
  }
  #slide1 {
    margin-top: 25px;
  } 
  .search-home{
    padding-top: 30px; 
    height: unset !important;
    padding-bottom: 150px;
  }
  .search-home h1 { 
    font-size: 30px;
    margin-bottom: 8px;
  }
  .custom-control-label { 
    font-size: 18px; 
  }
  .home-service{ 
    background:  url(../images/img-bg-overlay.png);
    background-position:   center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important; 
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    min-height: unset !important;
  }  
  .home-service:after{  
    height: 130px;   
  } 
  .home-service::before{  
    height: 130px;    
    bottom: -70px;
  } 
  .h1-botb{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .h1-botb:after { 
    margin-top: -5px; 
  }
  .btn-service { 
    width: 120px;
    height: 220px; 
    padding-bottom: 30px; 
    margin-bottom: 20px;
  }
  .home-service .row-set{ 
    flex-wrap: nowrap;
    overflow-x: auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }
  .home-service .row-set > div{ 
    width: 170px;
    max-width: unset !important;
  }
  .btn-service img {
    height: 65px; 
  }
  .btn-service h4 { 
    font-size: 14px; 
  }
  .btn-service img { 
    margin-top: -60px; 
  } 
  .btn-service:hover img{  
    margin-top: -75px;
  }
  .home-tips .tips-box .img { 
    height: 350px; 
  }
  .home-tips .tips-box { 
    text-align: center;
  }
  .home-tips .tips-box h6 {
    margin-top: 15px; 
    text-align: center;
  }
  .home-tips .tips-box h4 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
  .home-tips .tips-box a {
    font-size: 20px; 
  }
  .home-tips .lSAction {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
  } 
  .home-tips .lSAction .lSPrev{ 
    left: 5%; 
  }
  .home-tips .lSAction .lSNext{ 
    right: 0%; 
  }
  .btn-master {
    padding: 10px 30px; 
    font-size: 18px; 
  }
  .home-tips { 
    padding-bottom: 40px;
  }
  .home-logo img { 
    max-height: 20px;
    width: 100%;
  }
  .home-logo {
    padding-top: 45px;
    padding-bottom: 45px; 
  } 
  .home-logo  .lSPager {
    display: none !important;
  }
  footer .top {
    background: transparent linear-gradient(180deg, #58595A 0%, #121212 100%) 0% 0% no-repeat padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer address {
    text-align: center;
  } 
  footer address img{
    position: relative;
    top: 0px;
  } 
  footer address { 
    font-size: 18px; 
  }
  footer .top .col-xl-4 ul li{  
    padding-top: 10px;
    padding-bottom: 20px;
  }
  footer .top .col-xl-4 ul.hide li{ 
    display: none; 
  } 
  footer .top .col-xl-4 ul.show { 
    display: block;
  }
  footer .top .col-xl-4 ul.hide li:first-child { 
    display: block !important;
    border-bottom: 1px solid #fff; 
  }
  footer .top .col-xl-4 ul.hide li:first-child { 
    display: block !important;
    border-bottom: 1px solid #fff; 
  }
  footer .top .col-xl-4:first-child ul li:first-child {  
    border-top: 1px solid #fff; 
    padding-top: 20px;
  } 
  footer .top .col-xl-4 ul.hide li:first-child {   
    position: relative;
  } 
  footer .top .col-xl-4 ul.hide li:first-child:before{
    content: "";
    position: absolute; 
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: url(../images/ionic-ios-arrow-dropdown-circle.png);
    background-position: center !important;
    background-size: 14px auto !important;
    background-repeat: no-repeat !important; 
    top: 30px;
    right: 20px;
  }
  footer .bot {
    height: unset !important;
    padding-bottom: 80px; 
    padding-top: 30px;
  }
  footer .bot .d-flex{ 
    display: block !important;
    text-align: center;
  }
  footer h1 { 
    padding-right: 0px;
    line-height: 45px; 
  }
  .promotion-page{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner-promotion-cover{
    height: 180px;
    background: url(../images/promotion-bn-m.png);
    background-position: center !important;
    background-size: auto 100%  !important;
  }
  .promotion-page .promotion > img{
    object-fit: cover;
    height: 378px; 
    margin-bottom: 20px !important;
  } 
  footer h1:after {
    content: unset; 
  } 
  .promotion-modal .modal-body{
    padding: 20px;
  } 
  .login-modal .modal-body{ 
    padding: 20px;
  }
  .login-modal .modal-body .orx{ 
    height: 60px;
  }
  .login-modal .modal-body .orx::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%; 
    left: 0;
    top: 50%;
    background-color: #E2E2E2;
    z-index: 1;
  }
  .login-modal .modal-body .orx p{  
    top: 5px; 
    left: calc(50% - 30px); 
  }
  .login-modal .modal-dialog{
    margin: 0px;
    height: 100vh !important; 
  }
  .login-modal .modal-content{ 
    border-radius: 0px;
  }
  .login-modal .modal-body{ 
    height: 100vh !important; 
  } 
  .banner-account{
    height: 150px;
    background: url(../images/acc-title-mb.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  } 
  .banner-account .h1-botb:after {
    margin-top: 0px;
    background-color: #fff;
  }
  .account{
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .account h4 {
    text-align: center;
  }
  .form-right {
    padding-left: 15px;
  }
  .form-right input{
    margin-bottom: 15px
  }
  .col-mb{
    text-align: center; 
  }
  .btn-menu-account{ 
    font-size: 20px;
    color: #000;
    font-family: Kanit-Medium; 
    border: 1px solid #58595A25;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left: 40px;
    position: relative;
  }
  .btn-menu-account::after{
    content: unset;
  }
  .btn-menu-account::before{
    content: "";
    position: absolute;
    right: 10px;
    width: 14px;
    height: 14px;
    top: 10px;
    background: url(../images/ionic-ios-arrow-dropdown-circle.png) !important;
    background-position: center !important;
    background-size: 14px  !important;
    background-repeat: no-repeat !important;  ;
  }
  .btn-menu-account img{
    height: 20px; 
    position: absolute;
    left: 10px;
    top: 13px;
  }
  .btn-menu-account + .dropdown-menu{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
  }
  .btn-menu-account + .dropdown-menu .dropdown-item{
    border-bottom: 1px solid #70707010;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    position: relative;
    font-size: 20px;
    color: #000;
    font-family: Kanit-Medium; 
  }
  .btn-menu-account + .dropdown-menu .dropdown-item img{
    position: absolute;
    width: 18px;
    left: 10px;
    top: 20px;
  }
  .btn-menu-account + .dropdown-menu .dropdown-item:last-child{
    border-bottom: 0px solid #70707010; 
  } 
  .account table tr th{ 
    font-size: 14px;
  }
  .account table tr td{ 
    font-size: 12px; 
  } 
  .account table tr td:first-child{  
    padding-left: 0px;
  } 
  .account table tr td:last-child{  
    padding-right: 0px;
  }
  .account table tr td:last-child img{  
    height: 8px;
  }
  .banner-service-cover{
    height: 150px;
    background: url(../images/service-bg.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  }
  .service-icon {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .service-data { 
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .service-icon .icon img { 
    height: 85px;
  }
  .service-data .img img {
    height: 217px;
    object-fit: cover;
  }
  .service-text.right {
    padding-left: 15px;
  }
  .service-data .img:after { 
    width: 50px;
    height: 50px; 
  }
  .service-data .img.right img{ 
    padding-right: 50px;
  }
  .service-data .img.right:after { 
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    right: 65px;
  }
  .service-text .icon-img {
    height: 50px;
    width: 50px; 
  }
  .service-text .icon-img img{
    height: 30px; 
  }
  .service-text.right .icon-img{
    top: -100px;
    left: calc(100% - 65px);
  }
  .service-text h3 {
    font-size: 30px; 
    margin-top: 20px;
  }
  .service-text h4 {
    font-size: 20px;  
  }
  .service-text ul li {
    font-size: 16px;  
  }
  .service-text p {
    font-size: 16px;  
  } 
  .service-data .service-text.left{
    order: 2;
  }
  .service-data .img.left img{ 
    padding-left: 50px;
  }
  .service-text.left .icon-img{
    top: -167px;
    right: calc(100% - 65px);
  }
  .service-data .img.left:after { 
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    left: 65px;
  } 
  .banner-contact-cover{
    height: 150px;
    background: url(../images/contact-bg-mb.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  }
  .contact-text .contact-img {
    height: 241px;
    object-fit: cover;
  }
  .banner-about-us-cover{
    height: 150px;
    background: url(../images/aboutus-bg-mb.png);
    background-position: center !important;
    background-size: auto 100%  !important; 
  }
  .about-us-page .container .row .col-md-6:nth-child(1){
    order: 2 !important;
    display: block;
  }
  .about-us-page .container .row .col-md-6:nth-child(2){
    order: 1 !important;
    display: block;
  }
  .about-us-page {
    margin-top: 0px;
    background: url(../images/bg-orange2.png);
    background-position: top right !important;
    background-size: auto 280px !important;
    background-repeat: no-repeat !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-us-page h2{
    font-size: 30px;
    margin-top: 70px;
  }
  .about-us-page p{ 
    font-family: Kanit-Light;
    font-size: 16px;
  }
  .about-us-text .flexx {
    min-height: unset;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .about-us-text{
    min-height: unset;
    padding-bottom: 60px;
    background: #fff;
    background-position: top left !important;
    background-size: 800px auto  !important;
    background-repeat: no-repeat !important;
    margin-top: 0px;
  } 
  .about-us-text h2{
    font-size: 30px; 
    margin-top: 50px;
  }
  .about-us-text p{ 
    font-family: Kanit-Light;
    font-size: 16px;
  }
  .banner-tire-cover{
    height: 150px;
    background: url(../images/trie-bg-mb.png);
    background-position: center !important;
    background-size: auto 150px  !important;
    background-repeat: no-repeat !important;
  } 
  .product-main .product .custom-control-label {
    font-size: 12px;
    font-family: Kanit-Light;
  }
  .product-main .product h6 {
    font-size: 12px;
    font-family: Kanit-Light;
  }
  .product-main .product hr { 
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .product-box {
    padding-top: 30px;
    padding-bottom: 30px; 
    text-align: center;
  }
  .product-box .pro-img{
    height: 251px;
    object-fit: cover;
    margin-bottom: 24px;
  }
  .product-box .option {
    display: flex;
    justify-content: center;
  }  
  .filter-modal .modal-dialog{
    margin: 0px;
    margin-right: 55px; 
  }
  .filter-modal .modal-content{ 
    border-radius: 0px;
  }
  .filter-modal .modal-body{ 
    height: 100% !important; 
  }   
  .filter-modal  .product-main .filter{
    display: block;
  }
  .filter-modal .product-main .filter {
    width: 100%;
  }
  .product-main {
    padding-top: 0px;
    padding-bottom: 100px;
  }  
  .product-des .photo img{
    height: 251px;
    object-fit: cover; 
    margin-bottom: 20px;
  }
  .product-des .brand{
    height: 31px;
    object-fit: cover; 
    display: block;
    margin: auto;
  }
  .product-des h4{ 
    font-size: 20px;
    text-align: center;
  }
  .product-des h6{ 
    text-align: center;
  }
  .product-des h5{ 
    text-align: center;
  }
  .product-des .option{ 
    justify-content: center;
  }
  .product-des .btn-bg{
    margin: auto;
    margin-top: 10px;
  }
  .product-des .position-relative{
    text-align: center;
  }
  .product-des .table{
    margin-top: 20px;
  } 
  .product-des{
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .product-table h4{ 
    font-size: 20px; 
  }
  .product-table .table thead tr th{ 
    font-size: 14px; 
  }
  .product-table .table tbody tr td{ 
    font-size: 12px; 
  }
  
}

@media only screen and (width: 768px) { /* IPAD */ 
  .promotion-page .promotion > img{ 
    height: 200px;  
  } 
  .banner-promotion-cover{
    height: 180px;
    background: url(../images/promotion-bn.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  }
  .promotion-page .promotion h4 { 
    font-size: 24px; 
    margin-bottom: 15px;
  }
  .promotion-modal .modal-body{
    padding: 20px;
  }
  .banner-account{
    height: 150px;
    background: url(../images/acc-title-mb.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  } 
  .banner-account .h1-botb:after {
    margin-top: 0px;
    background-color: #fff;
  }
}
@media only screen and (width: 1024px) { /* MOBILE */ 
  .promotion-page .promotion > img{ 
    height: 300px;  
  } 
  .banner-promotion-cover{
    height: 180px;
    background: url(../images/promotion-bn.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  }
  .promotion-page .promotion h4 { 
    font-size: 24px; 
    margin-bottom: 15px;
  }
  .promotion-modal .modal-body{
    padding: 20px;
  }
  .banner-account{
    height: 150px;
    background: url(../images/acc-title-mb.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  } 
  .banner-account .h1-botb:after {
    margin-top: 0px;
    background-color: #fff;
  }
}
@media only screen and (width: 820px) { /* MOBILE */ 
  .promotion-page .promotion > img{ 
    height: 200px;  
  } 
  .banner-promotion-cover{
    height: 180px;
    background: url(../images/promotion-bn.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  }
  .promotion-page .promotion h4 { 
    font-size: 24px; 
    margin-bottom: 15px;
  }
  .promotion-modal .modal-body{
    padding: 20px;
  }
  .banner-account{
    height: 150px;
    background: url(../images/acc-title-mb.png);
    background-position: center !important;
    background-size: auto 100%  !important;
    background-repeat: no-repeat !important;
  } 
  .banner-account .h1-botb:after {
    margin-top: 0px;
    background-color: #fff;
  } 
} 